/* MISC */
.clickable {
  cursor: pointer;
}

.pointy {
  border-radius: 0;
}

/* ----------------------------- */
/* TYPOGRAPHY */
.bold {
  font-weight: 700;
}

/* FONT */
.font-px-1 {
  font-size: 1px;
}

.font-em-1 {
  font-size: 1em;
}

.font-px-2 {
  font-size: 2px;
}

.font-em-2 {
  font-size: 2em;
}

.font-px-3 {
  font-size: 3px;
}

.font-em-3 {
  font-size: 3em;
}

.font-px-4 {
  font-size: 4px;
}

.font-em-4 {
  font-size: 4em;
}

.font-px-5 {
  font-size: 5px;
}

.font-em-5 {
  font-size: 5em;
}

.font-px-6 {
  font-size: 6px;
}

.font-em-6 {
  font-size: 6em;
}

.font-px-7 {
  font-size: 7px;
}

.font-em-7 {
  font-size: 7em;
}

.font-px-8 {
  font-size: 8px;
}

.font-em-8 {
  font-size: 8em;
}

.font-px-9 {
  font-size: 9px;
}

.font-em-9 {
  font-size: 9em;
}

.font-px-10 {
  font-size: 10px;
}

.font-em-10 {
  font-size: 10em;
}

.font-px-11 {
  font-size: 11px;
}

.font-em-11 {
  font-size: 11em;
}

.font-px-12 {
  font-size: 12px;
}

.font-em-12 {
  font-size: 12em;
}

.font-px-13 {
  font-size: 13px;
}

.font-em-13 {
  font-size: 13em;
}

.font-px-14 {
  font-size: 14px;
}

.font-em-14 {
  font-size: 14em;
}

.font-px-15 {
  font-size: 15px;
}

.font-em-15 {
  font-size: 15em;
}

.font-px-16 {
  font-size: 16px;
}

.font-em-16 {
  font-size: 16em;
}

.font-px-17 {
  font-size: 17px;
}

.font-em-17 {
  font-size: 17em;
}

.font-px-18 {
  font-size: 18px;
}

.font-em-18 {
  font-size: 18em;
}

.font-px-19 {
  font-size: 19px;
}

.font-em-19 {
  font-size: 19em;
}

.font-px-20 {
  font-size: 20px;
}

.font-em-20 {
  font-size: 20em;
}

.font-px-21 {
  font-size: 21px;
}

.font-em-21 {
  font-size: 21em;
}

.font-px-22 {
  font-size: 22px;
}

.font-em-22 {
  font-size: 22em;
}

.font-px-23 {
  font-size: 23px;
}

.font-em-23 {
  font-size: 23em;
}

.font-px-24 {
  font-size: 24px;
}

.font-em-24 {
  font-size: 24em;
}

.font-px-25 {
  font-size: 25px;
}

.font-em-25 {
  font-size: 25em;
}

.font-px-26 {
  font-size: 26px;
}

.font-em-26 {
  font-size: 26em;
}

.font-px-27 {
  font-size: 27px;
}

.font-em-27 {
  font-size: 27em;
}

.font-px-28 {
  font-size: 28px;
}

.font-em-28 {
  font-size: 28em;
}

.font-px-29 {
  font-size: 29px;
}

.font-em-29 {
  font-size: 29em;
}

.font-px-30 {
  font-size: 30px;
}

.font-em-30 {
  font-size: 30em;
}

.font-px-31 {
  font-size: 31px;
}

.font-em-31 {
  font-size: 31em;
}

.font-px-32 {
  font-size: 32px;
}

.font-em-32 {
  font-size: 32em;
}

.font-px-33 {
  font-size: 33px;
}

.font-em-33 {
  font-size: 33em;
}

.font-px-34 {
  font-size: 34px;
}

.font-em-34 {
  font-size: 34em;
}

.font-px-35 {
  font-size: 35px;
}

.font-em-35 {
  font-size: 35em;
}

.font-px-36 {
  font-size: 36px;
}

.font-em-36 {
  font-size: 36em;
}

.font-px-37 {
  font-size: 37px;
}

.font-em-37 {
  font-size: 37em;
}

.font-px-38 {
  font-size: 38px;
}

.font-em-38 {
  font-size: 38em;
}

.font-px-39 {
  font-size: 39px;
}

.font-em-39 {
  font-size: 39em;
}

.font-px-40 {
  font-size: 40px;
}

.font-em-40 {
  font-size: 40em;
}

.font-px-41 {
  font-size: 41px;
}

.font-em-41 {
  font-size: 41em;
}

.font-px-42 {
  font-size: 42px;
}

.font-em-42 {
  font-size: 42em;
}

.font-px-43 {
  font-size: 43px;
}

.font-em-43 {
  font-size: 43em;
}

.font-px-44 {
  font-size: 44px;
}

.font-em-44 {
  font-size: 44em;
}

.font-px-45 {
  font-size: 45px;
}

.font-em-45 {
  font-size: 45em;
}

.font-px-46 {
  font-size: 46px;
}

.font-em-46 {
  font-size: 46em;
}

.font-px-47 {
  font-size: 47px;
}

.font-em-47 {
  font-size: 47em;
}

.font-px-48 {
  font-size: 48px;
}

.font-em-48 {
  font-size: 48em;
}

.font-px-49 {
  font-size: 49px;
}

.font-em-49 {
  font-size: 49em;
}

.font-px-50 {
  font-size: 50px;
}

.font-em-50 {
  font-size: 50em;
}

/* ----------------------------- */
/* BACKGROUND COLORS */
/* red */
.bg-red {
  background-color: #dd3b49;
}

/* black */
.bg-black {
  background-color: #333;
}

/* white */
.bg-white {
  background-color: #fff;
}

/* gray */
.bg-gray {
  background-color: #d2d6de;
}

/* yellow */
.bg-yellow {
  background-color: #f39c12;
}

/* purple */
.bg-purple {
  background-color: #8E24AA;
}

/* ALT COLORS */
/* red */
.bg-alt-red {
  background-color: #ec929a;
}

/* black */
.bg-alt-black {
  background-color: #666666;
}

/* white */
.bg-alt-white {
  background-color: white;
}

/* gray */
.bg-alt-gray {
  background-color: white;
}

/* yellow */
.bg-alt-yellow {
  background-color: #f8c573;
}

/* purple */
.bg-alt-purple {
  background-color: #c058dc;
}

.bg-none {
  background-color: transparent;
}

/* TEXT COLORS */
/* white */
.text-white {
  color: #fff;
}

/* purple */
.text-purple {
  color: #8E24AA;
}

/* ALT COLORS */
/* red */
.text-alt-red {
  color: #ec929a;
}

/* black */
.text-alt-black {
  color: #666666;
}

/* white */
.text-alt-white {
  color: white;
}

/* gray */
.text-alt-gray {
  color: white;
}

/* yellow */
.text-alt-yellow {
  color: #f8c573;
}

/* purple */
.text-alt-purple {
  color: #c058dc;
}

/* ------------------ */
/* SPACING (MARGIN) & PADDING (duh) */
.space-top-1 {
  margin-top: 1px;
}

.space-top-2 {
  margin-top: 2px;
}

.space-top-3 {
  margin-top: 3px;
}

.space-top-4 {
  margin-top: 4px;
}

.space-top-5 {
  margin-top: 5px;
}

.space-top-6 {
  margin-top: 6px;
}

.space-top-7 {
  margin-top: 7px;
}

.space-top-8 {
  margin-top: 8px;
}

.space-top-9 {
  margin-top: 9px;
}

.space-top-10 {
  margin-top: 10px;
}

.space-top-11 {
  margin-top: 11px;
}

.space-top-12 {
  margin-top: 12px;
}

.space-top-13 {
  margin-top: 13px;
}

.space-top-14 {
  margin-top: 14px;
}

.space-top-15 {
  margin-top: 15px;
}

.space-top-16 {
  margin-top: 16px;
}

.space-top-17 {
  margin-top: 17px;
}

.space-top-18 {
  margin-top: 18px;
}

.space-top-19 {
  margin-top: 19px;
}

.space-top-20 {
  margin-top: 20px;
}

.space-top-21 {
  margin-top: 21px;
}

.space-top-22 {
  margin-top: 22px;
}

.space-top-23 {
  margin-top: 23px;
}

.space-top-24 {
  margin-top: 24px;
}

.space-top-25 {
  margin-top: 25px;
}

.space-top-26 {
  margin-top: 26px;
}

.space-top-27 {
  margin-top: 27px;
}

.space-top-28 {
  margin-top: 28px;
}

.space-top-29 {
  margin-top: 29px;
}

.space-top-30 {
  margin-top: 30px;
}

.space-top-31 {
  margin-top: 31px;
}

.space-top-32 {
  margin-top: 32px;
}

.space-top-33 {
  margin-top: 33px;
}

.space-top-34 {
  margin-top: 34px;
}

.space-top-35 {
  margin-top: 35px;
}

.space-top-36 {
  margin-top: 36px;
}

.space-top-37 {
  margin-top: 37px;
}

.space-top-38 {
  margin-top: 38px;
}

.space-top-39 {
  margin-top: 39px;
}

.space-top-40 {
  margin-top: 40px;
}

.space-top-41 {
  margin-top: 41px;
}

.space-top-42 {
  margin-top: 42px;
}

.space-top-43 {
  margin-top: 43px;
}

.space-top-44 {
  margin-top: 44px;
}

.space-top-45 {
  margin-top: 45px;
}

.space-top-46 {
  margin-top: 46px;
}

.space-top-47 {
  margin-top: 47px;
}

.space-top-48 {
  margin-top: 48px;
}

.space-top-49 {
  margin-top: 49px;
}

.space-top-50 {
  margin-top: 50px;
}

.space-top-51 {
  margin-top: 51px;
}

.space-top-52 {
  margin-top: 52px;
}

.space-top-53 {
  margin-top: 53px;
}

.space-top-54 {
  margin-top: 54px;
}

.space-top-55 {
  margin-top: 55px;
}

.space-top-56 {
  margin-top: 56px;
}

.space-top-57 {
  margin-top: 57px;
}

.space-top-58 {
  margin-top: 58px;
}

.space-top-59 {
  margin-top: 59px;
}

.space-top-60 {
  margin-top: 60px;
}

.space-top-61 {
  margin-top: 61px;
}

.space-top-62 {
  margin-top: 62px;
}

.space-top-63 {
  margin-top: 63px;
}

.space-top-64 {
  margin-top: 64px;
}

.space-top-65 {
  margin-top: 65px;
}

.space-top-66 {
  margin-top: 66px;
}

.space-top-67 {
  margin-top: 67px;
}

.space-top-68 {
  margin-top: 68px;
}

.space-top-69 {
  margin-top: 69px;
}

.space-top-70 {
  margin-top: 70px;
}

.space-top-71 {
  margin-top: 71px;
}

.space-top-72 {
  margin-top: 72px;
}

.space-top-73 {
  margin-top: 73px;
}

.space-top-74 {
  margin-top: 74px;
}

.space-top-75 {
  margin-top: 75px;
}

.space-top-76 {
  margin-top: 76px;
}

.space-top-77 {
  margin-top: 77px;
}

.space-top-78 {
  margin-top: 78px;
}

.space-top-79 {
  margin-top: 79px;
}

.space-top-80 {
  margin-top: 80px;
}

.space-top-81 {
  margin-top: 81px;
}

.space-top-82 {
  margin-top: 82px;
}

.space-top-83 {
  margin-top: 83px;
}

.space-top-84 {
  margin-top: 84px;
}

.space-top-85 {
  margin-top: 85px;
}

.space-top-86 {
  margin-top: 86px;
}

.space-top-87 {
  margin-top: 87px;
}

.space-top-88 {
  margin-top: 88px;
}

.space-top-89 {
  margin-top: 89px;
}

.space-top-90 {
  margin-top: 90px;
}

.space-top-91 {
  margin-top: 91px;
}

.space-top-92 {
  margin-top: 92px;
}

.space-top-93 {
  margin-top: 93px;
}

.space-top-94 {
  margin-top: 94px;
}

.space-top-95 {
  margin-top: 95px;
}

.space-top-96 {
  margin-top: 96px;
}

.space-top-97 {
  margin-top: 97px;
}

.space-top-98 {
  margin-top: 98px;
}

.space-top-99 {
  margin-top: 99px;
}

.space-top-100 {
  margin-top: 100px;
}

.padding-top-1 {
  padding-top: 1px;
}

.padding-top-2 {
  padding-top: 2px;
}

.padding-top-3 {
  padding-top: 3px;
}

.padding-top-4 {
  padding-top: 4px;
}

.padding-top-5 {
  padding-top: 5px;
}

.padding-top-6 {
  padding-top: 6px;
}

.padding-top-7 {
  padding-top: 7px;
}

.padding-top-8 {
  padding-top: 8px;
}

.padding-top-9 {
  padding-top: 9px;
}

.padding-top-10 {
  padding-top: 10px;
}

.padding-top-11 {
  padding-top: 11px;
}

.padding-top-12 {
  padding-top: 12px;
}

.padding-top-13 {
  padding-top: 13px;
}

.padding-top-14 {
  padding-top: 14px;
}

.padding-top-15 {
  padding-top: 15px;
}

.padding-top-16 {
  padding-top: 16px;
}

.padding-top-17 {
  padding-top: 17px;
}

.padding-top-18 {
  padding-top: 18px;
}

.padding-top-19 {
  padding-top: 19px;
}

.padding-top-20 {
  padding-top: 20px;
}

.padding-top-21 {
  padding-top: 21px;
}

.padding-top-22 {
  padding-top: 22px;
}

.padding-top-23 {
  padding-top: 23px;
}

.padding-top-24 {
  padding-top: 24px;
}

.padding-top-25 {
  padding-top: 25px;
}

.padding-top-26 {
  padding-top: 26px;
}

.padding-top-27 {
  padding-top: 27px;
}

.padding-top-28 {
  padding-top: 28px;
}

.padding-top-29 {
  padding-top: 29px;
}

.padding-top-30 {
  padding-top: 30px;
}

.padding-top-31 {
  padding-top: 31px;
}

.padding-top-32 {
  padding-top: 32px;
}

.padding-top-33 {
  padding-top: 33px;
}

.padding-top-34 {
  padding-top: 34px;
}

.padding-top-35 {
  padding-top: 35px;
}

.padding-top-36 {
  padding-top: 36px;
}

.padding-top-37 {
  padding-top: 37px;
}

.padding-top-38 {
  padding-top: 38px;
}

.padding-top-39 {
  padding-top: 39px;
}

.padding-top-40 {
  padding-top: 40px;
}

.padding-top-41 {
  padding-top: 41px;
}

.padding-top-42 {
  padding-top: 42px;
}

.padding-top-43 {
  padding-top: 43px;
}

.padding-top-44 {
  padding-top: 44px;
}

.padding-top-45 {
  padding-top: 45px;
}

.padding-top-46 {
  padding-top: 46px;
}

.padding-top-47 {
  padding-top: 47px;
}

.padding-top-48 {
  padding-top: 48px;
}

.padding-top-49 {
  padding-top: 49px;
}

.padding-top-50 {
  padding-top: 50px;
}

.padding-top-51 {
  padding-top: 51px;
}

.padding-top-52 {
  padding-top: 52px;
}

.padding-top-53 {
  padding-top: 53px;
}

.padding-top-54 {
  padding-top: 54px;
}

.padding-top-55 {
  padding-top: 55px;
}

.padding-top-56 {
  padding-top: 56px;
}

.padding-top-57 {
  padding-top: 57px;
}

.padding-top-58 {
  padding-top: 58px;
}

.padding-top-59 {
  padding-top: 59px;
}

.padding-top-60 {
  padding-top: 60px;
}

.padding-top-61 {
  padding-top: 61px;
}

.padding-top-62 {
  padding-top: 62px;
}

.padding-top-63 {
  padding-top: 63px;
}

.padding-top-64 {
  padding-top: 64px;
}

.padding-top-65 {
  padding-top: 65px;
}

.padding-top-66 {
  padding-top: 66px;
}

.padding-top-67 {
  padding-top: 67px;
}

.padding-top-68 {
  padding-top: 68px;
}

.padding-top-69 {
  padding-top: 69px;
}

.padding-top-70 {
  padding-top: 70px;
}

.padding-top-71 {
  padding-top: 71px;
}

.padding-top-72 {
  padding-top: 72px;
}

.padding-top-73 {
  padding-top: 73px;
}

.padding-top-74 {
  padding-top: 74px;
}

.padding-top-75 {
  padding-top: 75px;
}

.padding-top-76 {
  padding-top: 76px;
}

.padding-top-77 {
  padding-top: 77px;
}

.padding-top-78 {
  padding-top: 78px;
}

.padding-top-79 {
  padding-top: 79px;
}

.padding-top-80 {
  padding-top: 80px;
}

.padding-top-81 {
  padding-top: 81px;
}

.padding-top-82 {
  padding-top: 82px;
}

.padding-top-83 {
  padding-top: 83px;
}

.padding-top-84 {
  padding-top: 84px;
}

.padding-top-85 {
  padding-top: 85px;
}

.padding-top-86 {
  padding-top: 86px;
}

.padding-top-87 {
  padding-top: 87px;
}

.padding-top-88 {
  padding-top: 88px;
}

.padding-top-89 {
  padding-top: 89px;
}

.padding-top-90 {
  padding-top: 90px;
}

.padding-top-91 {
  padding-top: 91px;
}

.padding-top-92 {
  padding-top: 92px;
}

.padding-top-93 {
  padding-top: 93px;
}

.padding-top-94 {
  padding-top: 94px;
}

.padding-top-95 {
  padding-top: 95px;
}

.padding-top-96 {
  padding-top: 96px;
}

.padding-top-97 {
  padding-top: 97px;
}

.padding-top-98 {
  padding-top: 98px;
}

.padding-top-99 {
  padding-top: 99px;
}

.padding-top-100 {
  padding-top: 100px;
}

.space-top-none {
  margin-top: 0;
}

.padding-top-none {
  margin-top: 0;
}

.space-bottom-1 {
  margin-bottom: 1px;
}

.space-bottom-2 {
  margin-bottom: 2px;
}

.space-bottom-3 {
  margin-bottom: 3px;
}

.space-bottom-4 {
  margin-bottom: 4px;
}

.space-bottom-5 {
  margin-bottom: 5px;
}

.space-bottom-6 {
  margin-bottom: 6px;
}

.space-bottom-7 {
  margin-bottom: 7px;
}

.space-bottom-8 {
  margin-bottom: 8px;
}

.space-bottom-9 {
  margin-bottom: 9px;
}

.space-bottom-10 {
  margin-bottom: 10px;
}

.space-bottom-11 {
  margin-bottom: 11px;
}

.space-bottom-12 {
  margin-bottom: 12px;
}

.space-bottom-13 {
  margin-bottom: 13px;
}

.space-bottom-14 {
  margin-bottom: 14px;
}

.space-bottom-15 {
  margin-bottom: 15px;
}

.space-bottom-16 {
  margin-bottom: 16px;
}

.space-bottom-17 {
  margin-bottom: 17px;
}

.space-bottom-18 {
  margin-bottom: 18px;
}

.space-bottom-19 {
  margin-bottom: 19px;
}

.space-bottom-20 {
  margin-bottom: 20px;
}

.space-bottom-21 {
  margin-bottom: 21px;
}

.space-bottom-22 {
  margin-bottom: 22px;
}

.space-bottom-23 {
  margin-bottom: 23px;
}

.space-bottom-24 {
  margin-bottom: 24px;
}

.space-bottom-25 {
  margin-bottom: 25px;
}

.space-bottom-26 {
  margin-bottom: 26px;
}

.space-bottom-27 {
  margin-bottom: 27px;
}

.space-bottom-28 {
  margin-bottom: 28px;
}

.space-bottom-29 {
  margin-bottom: 29px;
}

.space-bottom-30 {
  margin-bottom: 30px;
}

.space-bottom-31 {
  margin-bottom: 31px;
}

.space-bottom-32 {
  margin-bottom: 32px;
}

.space-bottom-33 {
  margin-bottom: 33px;
}

.space-bottom-34 {
  margin-bottom: 34px;
}

.space-bottom-35 {
  margin-bottom: 35px;
}

.space-bottom-36 {
  margin-bottom: 36px;
}

.space-bottom-37 {
  margin-bottom: 37px;
}

.space-bottom-38 {
  margin-bottom: 38px;
}

.space-bottom-39 {
  margin-bottom: 39px;
}

.space-bottom-40 {
  margin-bottom: 40px;
}

.space-bottom-41 {
  margin-bottom: 41px;
}

.space-bottom-42 {
  margin-bottom: 42px;
}

.space-bottom-43 {
  margin-bottom: 43px;
}

.space-bottom-44 {
  margin-bottom: 44px;
}

.space-bottom-45 {
  margin-bottom: 45px;
}

.space-bottom-46 {
  margin-bottom: 46px;
}

.space-bottom-47 {
  margin-bottom: 47px;
}

.space-bottom-48 {
  margin-bottom: 48px;
}

.space-bottom-49 {
  margin-bottom: 49px;
}

.space-bottom-50 {
  margin-bottom: 50px;
}

.space-bottom-51 {
  margin-bottom: 51px;
}

.space-bottom-52 {
  margin-bottom: 52px;
}

.space-bottom-53 {
  margin-bottom: 53px;
}

.space-bottom-54 {
  margin-bottom: 54px;
}

.space-bottom-55 {
  margin-bottom: 55px;
}

.space-bottom-56 {
  margin-bottom: 56px;
}

.space-bottom-57 {
  margin-bottom: 57px;
}

.space-bottom-58 {
  margin-bottom: 58px;
}

.space-bottom-59 {
  margin-bottom: 59px;
}

.space-bottom-60 {
  margin-bottom: 60px;
}

.space-bottom-61 {
  margin-bottom: 61px;
}

.space-bottom-62 {
  margin-bottom: 62px;
}

.space-bottom-63 {
  margin-bottom: 63px;
}

.space-bottom-64 {
  margin-bottom: 64px;
}

.space-bottom-65 {
  margin-bottom: 65px;
}

.space-bottom-66 {
  margin-bottom: 66px;
}

.space-bottom-67 {
  margin-bottom: 67px;
}

.space-bottom-68 {
  margin-bottom: 68px;
}

.space-bottom-69 {
  margin-bottom: 69px;
}

.space-bottom-70 {
  margin-bottom: 70px;
}

.space-bottom-71 {
  margin-bottom: 71px;
}

.space-bottom-72 {
  margin-bottom: 72px;
}

.space-bottom-73 {
  margin-bottom: 73px;
}

.space-bottom-74 {
  margin-bottom: 74px;
}

.space-bottom-75 {
  margin-bottom: 75px;
}

.space-bottom-76 {
  margin-bottom: 76px;
}

.space-bottom-77 {
  margin-bottom: 77px;
}

.space-bottom-78 {
  margin-bottom: 78px;
}

.space-bottom-79 {
  margin-bottom: 79px;
}

.space-bottom-80 {
  margin-bottom: 80px;
}

.space-bottom-81 {
  margin-bottom: 81px;
}

.space-bottom-82 {
  margin-bottom: 82px;
}

.space-bottom-83 {
  margin-bottom: 83px;
}

.space-bottom-84 {
  margin-bottom: 84px;
}

.space-bottom-85 {
  margin-bottom: 85px;
}

.space-bottom-86 {
  margin-bottom: 86px;
}

.space-bottom-87 {
  margin-bottom: 87px;
}

.space-bottom-88 {
  margin-bottom: 88px;
}

.space-bottom-89 {
  margin-bottom: 89px;
}

.space-bottom-90 {
  margin-bottom: 90px;
}

.space-bottom-91 {
  margin-bottom: 91px;
}

.space-bottom-92 {
  margin-bottom: 92px;
}

.space-bottom-93 {
  margin-bottom: 93px;
}

.space-bottom-94 {
  margin-bottom: 94px;
}

.space-bottom-95 {
  margin-bottom: 95px;
}

.space-bottom-96 {
  margin-bottom: 96px;
}

.space-bottom-97 {
  margin-bottom: 97px;
}

.space-bottom-98 {
  margin-bottom: 98px;
}

.space-bottom-99 {
  margin-bottom: 99px;
}

.space-bottom-100 {
  margin-bottom: 100px;
}

.padding-bottom-1 {
  padding-bottom: 1px;
}

.padding-bottom-2 {
  padding-bottom: 2px;
}

.padding-bottom-3 {
  padding-bottom: 3px;
}

.padding-bottom-4 {
  padding-bottom: 4px;
}

.padding-bottom-5 {
  padding-bottom: 5px;
}

.padding-bottom-6 {
  padding-bottom: 6px;
}

.padding-bottom-7 {
  padding-bottom: 7px;
}

.padding-bottom-8 {
  padding-bottom: 8px;
}

.padding-bottom-9 {
  padding-bottom: 9px;
}

.padding-bottom-10 {
  padding-bottom: 10px;
}

.padding-bottom-11 {
  padding-bottom: 11px;
}

.padding-bottom-12 {
  padding-bottom: 12px;
}

.padding-bottom-13 {
  padding-bottom: 13px;
}

.padding-bottom-14 {
  padding-bottom: 14px;
}

.padding-bottom-15 {
  padding-bottom: 15px;
}

.padding-bottom-16 {
  padding-bottom: 16px;
}

.padding-bottom-17 {
  padding-bottom: 17px;
}

.padding-bottom-18 {
  padding-bottom: 18px;
}

.padding-bottom-19 {
  padding-bottom: 19px;
}

.padding-bottom-20 {
  padding-bottom: 20px;
}

.padding-bottom-21 {
  padding-bottom: 21px;
}

.padding-bottom-22 {
  padding-bottom: 22px;
}

.padding-bottom-23 {
  padding-bottom: 23px;
}

.padding-bottom-24 {
  padding-bottom: 24px;
}

.padding-bottom-25 {
  padding-bottom: 25px;
}

.padding-bottom-26 {
  padding-bottom: 26px;
}

.padding-bottom-27 {
  padding-bottom: 27px;
}

.padding-bottom-28 {
  padding-bottom: 28px;
}

.padding-bottom-29 {
  padding-bottom: 29px;
}

.padding-bottom-30 {
  padding-bottom: 30px;
}

.padding-bottom-31 {
  padding-bottom: 31px;
}

.padding-bottom-32 {
  padding-bottom: 32px;
}

.padding-bottom-33 {
  padding-bottom: 33px;
}

.padding-bottom-34 {
  padding-bottom: 34px;
}

.padding-bottom-35 {
  padding-bottom: 35px;
}

.padding-bottom-36 {
  padding-bottom: 36px;
}

.padding-bottom-37 {
  padding-bottom: 37px;
}

.padding-bottom-38 {
  padding-bottom: 38px;
}

.padding-bottom-39 {
  padding-bottom: 39px;
}

.padding-bottom-40 {
  padding-bottom: 40px;
}

.padding-bottom-41 {
  padding-bottom: 41px;
}

.padding-bottom-42 {
  padding-bottom: 42px;
}

.padding-bottom-43 {
  padding-bottom: 43px;
}

.padding-bottom-44 {
  padding-bottom: 44px;
}

.padding-bottom-45 {
  padding-bottom: 45px;
}

.padding-bottom-46 {
  padding-bottom: 46px;
}

.padding-bottom-47 {
  padding-bottom: 47px;
}

.padding-bottom-48 {
  padding-bottom: 48px;
}

.padding-bottom-49 {
  padding-bottom: 49px;
}

.padding-bottom-50 {
  padding-bottom: 50px;
}

.padding-bottom-51 {
  padding-bottom: 51px;
}

.padding-bottom-52 {
  padding-bottom: 52px;
}

.padding-bottom-53 {
  padding-bottom: 53px;
}

.padding-bottom-54 {
  padding-bottom: 54px;
}

.padding-bottom-55 {
  padding-bottom: 55px;
}

.padding-bottom-56 {
  padding-bottom: 56px;
}

.padding-bottom-57 {
  padding-bottom: 57px;
}

.padding-bottom-58 {
  padding-bottom: 58px;
}

.padding-bottom-59 {
  padding-bottom: 59px;
}

.padding-bottom-60 {
  padding-bottom: 60px;
}

.padding-bottom-61 {
  padding-bottom: 61px;
}

.padding-bottom-62 {
  padding-bottom: 62px;
}

.padding-bottom-63 {
  padding-bottom: 63px;
}

.padding-bottom-64 {
  padding-bottom: 64px;
}

.padding-bottom-65 {
  padding-bottom: 65px;
}

.padding-bottom-66 {
  padding-bottom: 66px;
}

.padding-bottom-67 {
  padding-bottom: 67px;
}

.padding-bottom-68 {
  padding-bottom: 68px;
}

.padding-bottom-69 {
  padding-bottom: 69px;
}

.padding-bottom-70 {
  padding-bottom: 70px;
}

.padding-bottom-71 {
  padding-bottom: 71px;
}

.padding-bottom-72 {
  padding-bottom: 72px;
}

.padding-bottom-73 {
  padding-bottom: 73px;
}

.padding-bottom-74 {
  padding-bottom: 74px;
}

.padding-bottom-75 {
  padding-bottom: 75px;
}

.padding-bottom-76 {
  padding-bottom: 76px;
}

.padding-bottom-77 {
  padding-bottom: 77px;
}

.padding-bottom-78 {
  padding-bottom: 78px;
}

.padding-bottom-79 {
  padding-bottom: 79px;
}

.padding-bottom-80 {
  padding-bottom: 80px;
}

.padding-bottom-81 {
  padding-bottom: 81px;
}

.padding-bottom-82 {
  padding-bottom: 82px;
}

.padding-bottom-83 {
  padding-bottom: 83px;
}

.padding-bottom-84 {
  padding-bottom: 84px;
}

.padding-bottom-85 {
  padding-bottom: 85px;
}

.padding-bottom-86 {
  padding-bottom: 86px;
}

.padding-bottom-87 {
  padding-bottom: 87px;
}

.padding-bottom-88 {
  padding-bottom: 88px;
}

.padding-bottom-89 {
  padding-bottom: 89px;
}

.padding-bottom-90 {
  padding-bottom: 90px;
}

.padding-bottom-91 {
  padding-bottom: 91px;
}

.padding-bottom-92 {
  padding-bottom: 92px;
}

.padding-bottom-93 {
  padding-bottom: 93px;
}

.padding-bottom-94 {
  padding-bottom: 94px;
}

.padding-bottom-95 {
  padding-bottom: 95px;
}

.padding-bottom-96 {
  padding-bottom: 96px;
}

.padding-bottom-97 {
  padding-bottom: 97px;
}

.padding-bottom-98 {
  padding-bottom: 98px;
}

.padding-bottom-99 {
  padding-bottom: 99px;
}

.padding-bottom-100 {
  padding-bottom: 100px;
}

.space-bottom-none {
  margin-bottom: 0;
}

.padding-bottom-none {
  margin-bottom: 0;
}

.space-left-1 {
  margin-left: 1px;
}

.space-left-2 {
  margin-left: 2px;
}

.space-left-3 {
  margin-left: 3px;
}

.space-left-4 {
  margin-left: 4px;
}

.space-left-5 {
  margin-left: 5px;
}

.space-left-6 {
  margin-left: 6px;
}

.space-left-7 {
  margin-left: 7px;
}

.space-left-8 {
  margin-left: 8px;
}

.space-left-9 {
  margin-left: 9px;
}

.space-left-10 {
  margin-left: 10px;
}

.space-left-11 {
  margin-left: 11px;
}

.space-left-12 {
  margin-left: 12px;
}

.space-left-13 {
  margin-left: 13px;
}

.space-left-14 {
  margin-left: 14px;
}

.space-left-15 {
  margin-left: 15px;
}

.space-left-16 {
  margin-left: 16px;
}

.space-left-17 {
  margin-left: 17px;
}

.space-left-18 {
  margin-left: 18px;
}

.space-left-19 {
  margin-left: 19px;
}

.space-left-20 {
  margin-left: 20px;
}

.space-left-21 {
  margin-left: 21px;
}

.space-left-22 {
  margin-left: 22px;
}

.space-left-23 {
  margin-left: 23px;
}

.space-left-24 {
  margin-left: 24px;
}

.space-left-25 {
  margin-left: 25px;
}

.space-left-26 {
  margin-left: 26px;
}

.space-left-27 {
  margin-left: 27px;
}

.space-left-28 {
  margin-left: 28px;
}

.space-left-29 {
  margin-left: 29px;
}

.space-left-30 {
  margin-left: 30px;
}

.space-left-31 {
  margin-left: 31px;
}

.space-left-32 {
  margin-left: 32px;
}

.space-left-33 {
  margin-left: 33px;
}

.space-left-34 {
  margin-left: 34px;
}

.space-left-35 {
  margin-left: 35px;
}

.space-left-36 {
  margin-left: 36px;
}

.space-left-37 {
  margin-left: 37px;
}

.space-left-38 {
  margin-left: 38px;
}

.space-left-39 {
  margin-left: 39px;
}

.space-left-40 {
  margin-left: 40px;
}

.space-left-41 {
  margin-left: 41px;
}

.space-left-42 {
  margin-left: 42px;
}

.space-left-43 {
  margin-left: 43px;
}

.space-left-44 {
  margin-left: 44px;
}

.space-left-45 {
  margin-left: 45px;
}

.space-left-46 {
  margin-left: 46px;
}

.space-left-47 {
  margin-left: 47px;
}

.space-left-48 {
  margin-left: 48px;
}

.space-left-49 {
  margin-left: 49px;
}

.space-left-50 {
  margin-left: 50px;
}

.space-left-51 {
  margin-left: 51px;
}

.space-left-52 {
  margin-left: 52px;
}

.space-left-53 {
  margin-left: 53px;
}

.space-left-54 {
  margin-left: 54px;
}

.space-left-55 {
  margin-left: 55px;
}

.space-left-56 {
  margin-left: 56px;
}

.space-left-57 {
  margin-left: 57px;
}

.space-left-58 {
  margin-left: 58px;
}

.space-left-59 {
  margin-left: 59px;
}

.space-left-60 {
  margin-left: 60px;
}

.space-left-61 {
  margin-left: 61px;
}

.space-left-62 {
  margin-left: 62px;
}

.space-left-63 {
  margin-left: 63px;
}

.space-left-64 {
  margin-left: 64px;
}

.space-left-65 {
  margin-left: 65px;
}

.space-left-66 {
  margin-left: 66px;
}

.space-left-67 {
  margin-left: 67px;
}

.space-left-68 {
  margin-left: 68px;
}

.space-left-69 {
  margin-left: 69px;
}

.space-left-70 {
  margin-left: 70px;
}

.space-left-71 {
  margin-left: 71px;
}

.space-left-72 {
  margin-left: 72px;
}

.space-left-73 {
  margin-left: 73px;
}

.space-left-74 {
  margin-left: 74px;
}

.space-left-75 {
  margin-left: 75px;
}

.space-left-76 {
  margin-left: 76px;
}

.space-left-77 {
  margin-left: 77px;
}

.space-left-78 {
  margin-left: 78px;
}

.space-left-79 {
  margin-left: 79px;
}

.space-left-80 {
  margin-left: 80px;
}

.space-left-81 {
  margin-left: 81px;
}

.space-left-82 {
  margin-left: 82px;
}

.space-left-83 {
  margin-left: 83px;
}

.space-left-84 {
  margin-left: 84px;
}

.space-left-85 {
  margin-left: 85px;
}

.space-left-86 {
  margin-left: 86px;
}

.space-left-87 {
  margin-left: 87px;
}

.space-left-88 {
  margin-left: 88px;
}

.space-left-89 {
  margin-left: 89px;
}

.space-left-90 {
  margin-left: 90px;
}

.space-left-91 {
  margin-left: 91px;
}

.space-left-92 {
  margin-left: 92px;
}

.space-left-93 {
  margin-left: 93px;
}

.space-left-94 {
  margin-left: 94px;
}

.space-left-95 {
  margin-left: 95px;
}

.space-left-96 {
  margin-left: 96px;
}

.space-left-97 {
  margin-left: 97px;
}

.space-left-98 {
  margin-left: 98px;
}

.space-left-99 {
  margin-left: 99px;
}

.space-left-100 {
  margin-left: 100px;
}

.padding-left-1 {
  padding-left: 1px;
}

.padding-left-2 {
  padding-left: 2px;
}

.padding-left-3 {
  padding-left: 3px;
}

.padding-left-4 {
  padding-left: 4px;
}

.padding-left-5 {
  padding-left: 5px;
}

.padding-left-6 {
  padding-left: 6px;
}

.padding-left-7 {
  padding-left: 7px;
}

.padding-left-8 {
  padding-left: 8px;
}

.padding-left-9 {
  padding-left: 9px;
}

.padding-left-10 {
  padding-left: 10px;
}

.padding-left-11 {
  padding-left: 11px;
}

.padding-left-12 {
  padding-left: 12px;
}

.padding-left-13 {
  padding-left: 13px;
}

.padding-left-14 {
  padding-left: 14px;
}

.padding-left-15 {
  padding-left: 15px;
}

.padding-left-16 {
  padding-left: 16px;
}

.padding-left-17 {
  padding-left: 17px;
}

.padding-left-18 {
  padding-left: 18px;
}

.padding-left-19 {
  padding-left: 19px;
}

.padding-left-20 {
  padding-left: 20px;
}

.padding-left-21 {
  padding-left: 21px;
}

.padding-left-22 {
  padding-left: 22px;
}

.padding-left-23 {
  padding-left: 23px;
}

.padding-left-24 {
  padding-left: 24px;
}

.padding-left-25 {
  padding-left: 25px;
}

.padding-left-26 {
  padding-left: 26px;
}

.padding-left-27 {
  padding-left: 27px;
}

.padding-left-28 {
  padding-left: 28px;
}

.padding-left-29 {
  padding-left: 29px;
}

.padding-left-30 {
  padding-left: 30px;
}

.padding-left-31 {
  padding-left: 31px;
}

.padding-left-32 {
  padding-left: 32px;
}

.padding-left-33 {
  padding-left: 33px;
}

.padding-left-34 {
  padding-left: 34px;
}

.padding-left-35 {
  padding-left: 35px;
}

.padding-left-36 {
  padding-left: 36px;
}

.padding-left-37 {
  padding-left: 37px;
}

.padding-left-38 {
  padding-left: 38px;
}

.padding-left-39 {
  padding-left: 39px;
}

.padding-left-40 {
  padding-left: 40px;
}

.padding-left-41 {
  padding-left: 41px;
}

.padding-left-42 {
  padding-left: 42px;
}

.padding-left-43 {
  padding-left: 43px;
}

.padding-left-44 {
  padding-left: 44px;
}

.padding-left-45 {
  padding-left: 45px;
}

.padding-left-46 {
  padding-left: 46px;
}

.padding-left-47 {
  padding-left: 47px;
}

.padding-left-48 {
  padding-left: 48px;
}

.padding-left-49 {
  padding-left: 49px;
}

.padding-left-50 {
  padding-left: 50px;
}

.padding-left-51 {
  padding-left: 51px;
}

.padding-left-52 {
  padding-left: 52px;
}

.padding-left-53 {
  padding-left: 53px;
}

.padding-left-54 {
  padding-left: 54px;
}

.padding-left-55 {
  padding-left: 55px;
}

.padding-left-56 {
  padding-left: 56px;
}

.padding-left-57 {
  padding-left: 57px;
}

.padding-left-58 {
  padding-left: 58px;
}

.padding-left-59 {
  padding-left: 59px;
}

.padding-left-60 {
  padding-left: 60px;
}

.padding-left-61 {
  padding-left: 61px;
}

.padding-left-62 {
  padding-left: 62px;
}

.padding-left-63 {
  padding-left: 63px;
}

.padding-left-64 {
  padding-left: 64px;
}

.padding-left-65 {
  padding-left: 65px;
}

.padding-left-66 {
  padding-left: 66px;
}

.padding-left-67 {
  padding-left: 67px;
}

.padding-left-68 {
  padding-left: 68px;
}

.padding-left-69 {
  padding-left: 69px;
}

.padding-left-70 {
  padding-left: 70px;
}

.padding-left-71 {
  padding-left: 71px;
}

.padding-left-72 {
  padding-left: 72px;
}

.padding-left-73 {
  padding-left: 73px;
}

.padding-left-74 {
  padding-left: 74px;
}

.padding-left-75 {
  padding-left: 75px;
}

.padding-left-76 {
  padding-left: 76px;
}

.padding-left-77 {
  padding-left: 77px;
}

.padding-left-78 {
  padding-left: 78px;
}

.padding-left-79 {
  padding-left: 79px;
}

.padding-left-80 {
  padding-left: 80px;
}

.padding-left-81 {
  padding-left: 81px;
}

.padding-left-82 {
  padding-left: 82px;
}

.padding-left-83 {
  padding-left: 83px;
}

.padding-left-84 {
  padding-left: 84px;
}

.padding-left-85 {
  padding-left: 85px;
}

.padding-left-86 {
  padding-left: 86px;
}

.padding-left-87 {
  padding-left: 87px;
}

.padding-left-88 {
  padding-left: 88px;
}

.padding-left-89 {
  padding-left: 89px;
}

.padding-left-90 {
  padding-left: 90px;
}

.padding-left-91 {
  padding-left: 91px;
}

.padding-left-92 {
  padding-left: 92px;
}

.padding-left-93 {
  padding-left: 93px;
}

.padding-left-94 {
  padding-left: 94px;
}

.padding-left-95 {
  padding-left: 95px;
}

.padding-left-96 {
  padding-left: 96px;
}

.padding-left-97 {
  padding-left: 97px;
}

.padding-left-98 {
  padding-left: 98px;
}

.padding-left-99 {
  padding-left: 99px;
}

.padding-left-100 {
  padding-left: 100px;
}

.space-left-none {
  margin-left: 0;
}

.padding-left-none {
  margin-left: 0;
}

.space-right-1 {
  margin-right: 1px;
}

.space-right-2 {
  margin-right: 2px;
}

.space-right-3 {
  margin-right: 3px;
}

.space-right-4 {
  margin-right: 4px;
}

.space-right-5 {
  margin-right: 5px;
}

.space-right-6 {
  margin-right: 6px;
}

.space-right-7 {
  margin-right: 7px;
}

.space-right-8 {
  margin-right: 8px;
}

.space-right-9 {
  margin-right: 9px;
}

.space-right-10 {
  margin-right: 10px;
}

.space-right-11 {
  margin-right: 11px;
}

.space-right-12 {
  margin-right: 12px;
}

.space-right-13 {
  margin-right: 13px;
}

.space-right-14 {
  margin-right: 14px;
}

.space-right-15 {
  margin-right: 15px;
}

.space-right-16 {
  margin-right: 16px;
}

.space-right-17 {
  margin-right: 17px;
}

.space-right-18 {
  margin-right: 18px;
}

.space-right-19 {
  margin-right: 19px;
}

.space-right-20 {
  margin-right: 20px;
}

.space-right-21 {
  margin-right: 21px;
}

.space-right-22 {
  margin-right: 22px;
}

.space-right-23 {
  margin-right: 23px;
}

.space-right-24 {
  margin-right: 24px;
}

.space-right-25 {
  margin-right: 25px;
}

.space-right-26 {
  margin-right: 26px;
}

.space-right-27 {
  margin-right: 27px;
}

.space-right-28 {
  margin-right: 28px;
}

.space-right-29 {
  margin-right: 29px;
}

.space-right-30 {
  margin-right: 30px;
}

.space-right-31 {
  margin-right: 31px;
}

.space-right-32 {
  margin-right: 32px;
}

.space-right-33 {
  margin-right: 33px;
}

.space-right-34 {
  margin-right: 34px;
}

.space-right-35 {
  margin-right: 35px;
}

.space-right-36 {
  margin-right: 36px;
}

.space-right-37 {
  margin-right: 37px;
}

.space-right-38 {
  margin-right: 38px;
}

.space-right-39 {
  margin-right: 39px;
}

.space-right-40 {
  margin-right: 40px;
}

.space-right-41 {
  margin-right: 41px;
}

.space-right-42 {
  margin-right: 42px;
}

.space-right-43 {
  margin-right: 43px;
}

.space-right-44 {
  margin-right: 44px;
}

.space-right-45 {
  margin-right: 45px;
}

.space-right-46 {
  margin-right: 46px;
}

.space-right-47 {
  margin-right: 47px;
}

.space-right-48 {
  margin-right: 48px;
}

.space-right-49 {
  margin-right: 49px;
}

.space-right-50 {
  margin-right: 50px;
}

.space-right-51 {
  margin-right: 51px;
}

.space-right-52 {
  margin-right: 52px;
}

.space-right-53 {
  margin-right: 53px;
}

.space-right-54 {
  margin-right: 54px;
}

.space-right-55 {
  margin-right: 55px;
}

.space-right-56 {
  margin-right: 56px;
}

.space-right-57 {
  margin-right: 57px;
}

.space-right-58 {
  margin-right: 58px;
}

.space-right-59 {
  margin-right: 59px;
}

.space-right-60 {
  margin-right: 60px;
}

.space-right-61 {
  margin-right: 61px;
}

.space-right-62 {
  margin-right: 62px;
}

.space-right-63 {
  margin-right: 63px;
}

.space-right-64 {
  margin-right: 64px;
}

.space-right-65 {
  margin-right: 65px;
}

.space-right-66 {
  margin-right: 66px;
}

.space-right-67 {
  margin-right: 67px;
}

.space-right-68 {
  margin-right: 68px;
}

.space-right-69 {
  margin-right: 69px;
}

.space-right-70 {
  margin-right: 70px;
}

.space-right-71 {
  margin-right: 71px;
}

.space-right-72 {
  margin-right: 72px;
}

.space-right-73 {
  margin-right: 73px;
}

.space-right-74 {
  margin-right: 74px;
}

.space-right-75 {
  margin-right: 75px;
}

.space-right-76 {
  margin-right: 76px;
}

.space-right-77 {
  margin-right: 77px;
}

.space-right-78 {
  margin-right: 78px;
}

.space-right-79 {
  margin-right: 79px;
}

.space-right-80 {
  margin-right: 80px;
}

.space-right-81 {
  margin-right: 81px;
}

.space-right-82 {
  margin-right: 82px;
}

.space-right-83 {
  margin-right: 83px;
}

.space-right-84 {
  margin-right: 84px;
}

.space-right-85 {
  margin-right: 85px;
}

.space-right-86 {
  margin-right: 86px;
}

.space-right-87 {
  margin-right: 87px;
}

.space-right-88 {
  margin-right: 88px;
}

.space-right-89 {
  margin-right: 89px;
}

.space-right-90 {
  margin-right: 90px;
}

.space-right-91 {
  margin-right: 91px;
}

.space-right-92 {
  margin-right: 92px;
}

.space-right-93 {
  margin-right: 93px;
}

.space-right-94 {
  margin-right: 94px;
}

.space-right-95 {
  margin-right: 95px;
}

.space-right-96 {
  margin-right: 96px;
}

.space-right-97 {
  margin-right: 97px;
}

.space-right-98 {
  margin-right: 98px;
}

.space-right-99 {
  margin-right: 99px;
}

.space-right-100 {
  margin-right: 100px;
}

.padding-right-1 {
  padding-right: 1px;
}

.padding-right-2 {
  padding-right: 2px;
}

.padding-right-3 {
  padding-right: 3px;
}

.padding-right-4 {
  padding-right: 4px;
}

.padding-right-5 {
  padding-right: 5px;
}

.padding-right-6 {
  padding-right: 6px;
}

.padding-right-7 {
  padding-right: 7px;
}

.padding-right-8 {
  padding-right: 8px;
}

.padding-right-9 {
  padding-right: 9px;
}

.padding-right-10 {
  padding-right: 10px;
}

.padding-right-11 {
  padding-right: 11px;
}

.padding-right-12 {
  padding-right: 12px;
}

.padding-right-13 {
  padding-right: 13px;
}

.padding-right-14 {
  padding-right: 14px;
}

.padding-right-15 {
  padding-right: 15px;
}

.padding-right-16 {
  padding-right: 16px;
}

.padding-right-17 {
  padding-right: 17px;
}

.padding-right-18 {
  padding-right: 18px;
}

.padding-right-19 {
  padding-right: 19px;
}

.padding-right-20 {
  padding-right: 20px;
}

.padding-right-21 {
  padding-right: 21px;
}

.padding-right-22 {
  padding-right: 22px;
}

.padding-right-23 {
  padding-right: 23px;
}

.padding-right-24 {
  padding-right: 24px;
}

.padding-right-25 {
  padding-right: 25px;
}

.padding-right-26 {
  padding-right: 26px;
}

.padding-right-27 {
  padding-right: 27px;
}

.padding-right-28 {
  padding-right: 28px;
}

.padding-right-29 {
  padding-right: 29px;
}

.padding-right-30 {
  padding-right: 30px;
}

.padding-right-31 {
  padding-right: 31px;
}

.padding-right-32 {
  padding-right: 32px;
}

.padding-right-33 {
  padding-right: 33px;
}

.padding-right-34 {
  padding-right: 34px;
}

.padding-right-35 {
  padding-right: 35px;
}

.padding-right-36 {
  padding-right: 36px;
}

.padding-right-37 {
  padding-right: 37px;
}

.padding-right-38 {
  padding-right: 38px;
}

.padding-right-39 {
  padding-right: 39px;
}

.padding-right-40 {
  padding-right: 40px;
}

.padding-right-41 {
  padding-right: 41px;
}

.padding-right-42 {
  padding-right: 42px;
}

.padding-right-43 {
  padding-right: 43px;
}

.padding-right-44 {
  padding-right: 44px;
}

.padding-right-45 {
  padding-right: 45px;
}

.padding-right-46 {
  padding-right: 46px;
}

.padding-right-47 {
  padding-right: 47px;
}

.padding-right-48 {
  padding-right: 48px;
}

.padding-right-49 {
  padding-right: 49px;
}

.padding-right-50 {
  padding-right: 50px;
}

.padding-right-51 {
  padding-right: 51px;
}

.padding-right-52 {
  padding-right: 52px;
}

.padding-right-53 {
  padding-right: 53px;
}

.padding-right-54 {
  padding-right: 54px;
}

.padding-right-55 {
  padding-right: 55px;
}

.padding-right-56 {
  padding-right: 56px;
}

.padding-right-57 {
  padding-right: 57px;
}

.padding-right-58 {
  padding-right: 58px;
}

.padding-right-59 {
  padding-right: 59px;
}

.padding-right-60 {
  padding-right: 60px;
}

.padding-right-61 {
  padding-right: 61px;
}

.padding-right-62 {
  padding-right: 62px;
}

.padding-right-63 {
  padding-right: 63px;
}

.padding-right-64 {
  padding-right: 64px;
}

.padding-right-65 {
  padding-right: 65px;
}

.padding-right-66 {
  padding-right: 66px;
}

.padding-right-67 {
  padding-right: 67px;
}

.padding-right-68 {
  padding-right: 68px;
}

.padding-right-69 {
  padding-right: 69px;
}

.padding-right-70 {
  padding-right: 70px;
}

.padding-right-71 {
  padding-right: 71px;
}

.padding-right-72 {
  padding-right: 72px;
}

.padding-right-73 {
  padding-right: 73px;
}

.padding-right-74 {
  padding-right: 74px;
}

.padding-right-75 {
  padding-right: 75px;
}

.padding-right-76 {
  padding-right: 76px;
}

.padding-right-77 {
  padding-right: 77px;
}

.padding-right-78 {
  padding-right: 78px;
}

.padding-right-79 {
  padding-right: 79px;
}

.padding-right-80 {
  padding-right: 80px;
}

.padding-right-81 {
  padding-right: 81px;
}

.padding-right-82 {
  padding-right: 82px;
}

.padding-right-83 {
  padding-right: 83px;
}

.padding-right-84 {
  padding-right: 84px;
}

.padding-right-85 {
  padding-right: 85px;
}

.padding-right-86 {
  padding-right: 86px;
}

.padding-right-87 {
  padding-right: 87px;
}

.padding-right-88 {
  padding-right: 88px;
}

.padding-right-89 {
  padding-right: 89px;
}

.padding-right-90 {
  padding-right: 90px;
}

.padding-right-91 {
  padding-right: 91px;
}

.padding-right-92 {
  padding-right: 92px;
}

.padding-right-93 {
  padding-right: 93px;
}

.padding-right-94 {
  padding-right: 94px;
}

.padding-right-95 {
  padding-right: 95px;
}

.padding-right-96 {
  padding-right: 96px;
}

.padding-right-97 {
  padding-right: 97px;
}

.padding-right-98 {
  padding-right: 98px;
}

.padding-right-99 {
  padding-right: 99px;
}

.padding-right-100 {
  padding-right: 100px;
}

.space-right-none {
  margin-right: 0;
}

.padding-right-none {
  margin-right: 0;
}

/* ----------------------------- */
@media (max-width: 767px) {
  .top-menu-fix {
    margin-top: -50px;
  }
}
/* SYSTEM-SPECIFIC STYLES */
.layout-boxed {
  background: #222d3299;
}

/* MODAL: red */
.modal-dialog.modal-red > .modal-content > .modal-header {
  background-color: #dd3b49;
  border-bottom-color: #dd3b49;
}
.modal-dialog.modal-red > .modal-content > .modal-footer {
  background-color: #dd3b49;
  border-bottom-color: #dd3b49;
}
.modal-dialog.modal-red > .modal-content > .modal-body {
  background-color: white;
}

/* CALLOUT: red */
.callout.callout-red {
  border-color: #dd3b49;
  background-color: #e56671;
}

/* MODAL: black */
.modal-dialog.modal-black > .modal-content > .modal-header {
  background-color: #4d4d4d;
  border-bottom-color: #4d4d4d;
}
.modal-dialog.modal-black > .modal-content > .modal-header > .modal-title {
  color: white;
}
.modal-dialog.modal-black > .modal-content > .modal-footer {
  background-color: #4d4d4d;
  border-bottom-color: #4d4d4d;
}
.modal-dialog.modal-black > .modal-content > .modal-body {
  background-color: #e6e6e6;
}

/* CALLOUT: black */
.callout.callout-black {
  border-color: #333;
  background-color: #4d4d4d;
  color: #fff;
}

/* MODAL: white */
.modal-dialog.modal-white > .modal-content > .modal-header {
  background-color: #fff;
  border-bottom-color: #fff;
}
.modal-dialog.modal-white > .modal-content > .modal-header button.btn-outline {
  border-color: #333;
  color: #333;
}
.modal-dialog.modal-white > .modal-content > .modal-header button.btn-outline:hover {
  opacity: 0.7;
}
.modal-dialog.modal-white > .modal-content > .modal-footer {
  background-color: #fff;
  border-bottom-color: #fff;
}
.modal-dialog.modal-white > .modal-content > .modal-body {
  background-color: white;
}

/* CALLOUT: white */
.callout.callout-white {
  border-color: #fff;
  background-color: white;
}

/* MODAL: gray */
.modal-dialog.modal-gray > .modal-content > .modal-header {
  background-color: #d2d6de;
  border-bottom-color: #d2d6de;
}
.modal-dialog.modal-gray > .modal-content > .modal-footer {
  background-color: #d2d6de;
  border-bottom-color: #d2d6de;
}
.modal-dialog.modal-gray > .modal-content > .modal-body {
  background-color: white;
}

/* CALLOUT: gray */
.callout.callout-gray {
  border-color: #d2d6de;
  background-color: #eff1f4;
}

/* MODAL: yellow */
.modal-dialog.modal-yellow > .modal-content > .modal-header {
  background-color: #f39c12;
  border-bottom-color: #f39c12;
}
.modal-dialog.modal-yellow > .modal-content > .modal-footer {
  background-color: #f39c12;
  border-bottom-color: #f39c12;
}
.modal-dialog.modal-yellow > .modal-content > .modal-body {
  background-color: white;
}

/* CALLOUT: yellow */
.callout.callout-yellow {
  border-color: #f39c12;
  background-color: #f5b043;
}

/* MODAL: purple */
.modal-dialog.modal-purple > .modal-content > .modal-header {
  background-color: #8E24AA;
  border-bottom-color: #8E24AA;
}
.modal-dialog.modal-purple > .modal-content > .modal-footer {
  background-color: #8E24AA;
  border-bottom-color: #8E24AA;
}
.modal-dialog.modal-purple > .modal-content > .modal-body {
  background-color: white;
}

/* CALLOUT: purple */
.callout.callout-purple {
  border-color: #8E24AA;
  background-color: #b02ed3;
}
