@import "vars.scss";
@import "defs.scss";
@import "fixes.scss";

/* SYSTEM-SPECIFIC STYLES */

.list-group-item{
	&.active{
		background-color: map-get($all-colors,yellow);
		border-color: map-get($all-colors,yellow);
		&:focus,
		&:hover{
			background-color: map-get($all-colors,yellow);
			border-color: map-get($all-colors,yellow);
		}
	}
}